.featured {
  position: relative;

  margin-bottom: 27px;
  padding-bottom: 42px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 320px 7px;
  }
}

.featured__wrapper {
  .container();
}

.featured__title-inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 22px;
}

.featured__title {
  order: 2;
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  color: @light-green;
  text-transform: uppercase;
}

.featured__subtitle {
  margin: 0;
  margin-bottom: 6px;

  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.featured__descr {
  margin: 0;
  margin-bottom: 18px;

  font-size: 15px;
  line-height: 24px;
}

.featured__parameters {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
  border-spacing: 0;
}

.featured__parameters td {
  padding-top: 9px;
  padding-bottom: 10px;

  font-size: 15px;
  line-height: 20px;

  border-bottom: 1px solid @grey;

  &:first-child {
    width: 37%;
  }
}

.featured__pic-wrapper {
  margin-bottom: 24px;

  background-color: @light-grey;
}

.featured__pic {
  display: block;
  margin: 0 auto;
}

.featured__price {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.featured__btn {
  padding: 14px 40px 14px;

  font-size: 17px;
  line-height: 20px;
}

@media @tablet-widths {
  .featured {
    margin-bottom: 49px;
    padding: 0;
    padding-bottom: 70px;

    &::after {
      height: 17px;

      background-size: 772px 17px;
    }
  }

  .featured__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
  }

  .featured__title-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 43px;
    padding-right: 29px;
  }

  .featured__title {
    width: 70px;

    line-height: 17px;
    text-align: center;
  }

  .featured__subtitle {
    font-size: 43px;
    line-height: 50px;
  }

  .featured__inner {
    box-sizing: border-box;
    width: 43.4%;
    padding-right: 0;
    padding-bottom: 110px;
  }

  .featured__descr {
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .featured__parameters {
    margin-bottom: 55px;
  }

  .featured__parameters td {
    font-size: 15px;

    &:first-child {
      width: 33.5%;
    }
  }

  .featured__pic-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0;
    margin-top: 8px;
  }

  .featured__price-wrapper {
    position: absolute;
    bottom: 0;
    left: 50px;

    width: 37.8%;
  }

  .featured__price {
    margin-top: auto;
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 24px;
  }

  .featured__btn {
    font-size: 17px;
    line-height: 20px;
  }
}

@media @desktop-widths {
  .featured {
    margin-bottom: 59px;
    padding-bottom: 96px;

    &::after {
      height: 23px;

      background-size: 1050px 23px;
    }
  }

  .featured__title-inner {
    position: absolute;
    top: 60px;
    left: 46px;

    justify-content: flex-start;
    width: 1000px;
    padding-right: 0;
    padding-left: 50px;
  }

  .featured__title {
    order: 1;
    margin-right: 56px;
  }

  .featured__subtitle {
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .featured__inner {
    flex-grow: 1;
    width: 49%;
    padding-top: 166px;
    padding-right: 58px;
    padding-left: 175px;
  }

  .featured__descr {
    margin-bottom: 48px;
  }

  .featured__price-wrapper {
    width: 292px;
    margin-left: 175px;
  }
}
