.info {
  margin-bottom: 55px;
}

.info__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: @black;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__item {
  margin-bottom: 30px;
  padding-top: 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @black;

  background-repeat: no-repeat;
  &:last-child {
    margin-bottom: 0;
  }
  &--ecological {
    background-image: url("../img/icon-feature-flower.svg");
  }
  &--style {
    background-image: url("../img/icon-feature-money.svg");
  }
  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
  }
  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
  }
  &--support {
    background-image: url("../img/icon-feature-rocket.svg");
  }
  &--package {
    background-image: url("../img/icon-feature-gift.svg");
  }
}
