.logo {
  display: block;

  outline: none;

  -webkit-tap-highlight-color: transparent;

  &--header[href] {
    cursor: pointer;

    transition: opacity 0.1s linear;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--header img {
    display: block;
    width: 86px;
    height: 35px;
  }

  &--footer {
    display: none;
  }
}

@media @tablet-widths {
  .logo {
    &--header img {
      width: 113px;
      height: 46px;
    }

    &--footer {
      display: block;

      cursor: pointer;
    }

    &--footer:hover .logo__icon,
    &--footer:focus .logo__icon {
      fill: @green;
    }

    &--footer:active .logo__icon {
      fill: fade(@green, 30%);
    }
  }

  .logo__icon {
    transition: fill 0.1s linear;
  }
}

@media @desktop-widths {
  .logo {
    &--header img {
      width: 149px;
      height: 72px;
    }
  }
}
