.main-nav {
  position: relative;
}

.main-nav__menu {
  position: relative;
  z-index: 50;

  padding: 22px 30px 22px;

  background-color: @white;
  border-bottom: 1px solid @grey;
}

.main-nav__logo {
  display: block;
  margin: 0 auto;
}

.main-nav__toggle {
  display: none;
}


@media @mobile-widths-only {
  .main-nav__toggle {
    position: absolute;
    top: 38px;
    right: 31px;
    z-index: 25;

    display: block;
    width: 20px;
    height: 14px;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    transform: translateY(-50%);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 25;

      width: 20px;
      height: 2px;

      background-color: @brown;
      transform: translateX(-50%);

      transition: box-shadow 0.3s 0.4s, bottom 0.3s 0.3s, top 0.3s 0.3s, transform 0.3s, width 0.3s;
    }

    &::before {
      top: 0;

      box-shadow: 0 6px 0 0 @brown;
    }

    &::after {
      bottom: 0;
    }
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      width: 27px;

      box-shadow: 0 6px 0 0 transparent;

      transition: box-shadow 0.2s 0s, bottom 0.3s, top 0.3s, transform 0.3s 0.3s, width 0.3s;
    }

    &::before {
      top: 6px;

      transform: translate(-50%) rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      bottom: 6px;

      transform: translate(-50%) rotate3d(0, 0, 1, -45deg);
    }
  }

  .main-nav--opened .site-list {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;

    display: block;

    animation-name: showmenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;

    animation-fill-mode: backwards;
  }

  .main-nav--nojs .site-list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media @tablet-widths {
  .main-nav__menu {
    position: absolute;
    top: 22px;
    left: 0;

    width: 113px;
    padding: 0;

    background-color: transparent;
    border-bottom: none;
  }
}

@media @desktop-widths {
  .main-nav__menu {
    top: 9px;
    left: 50%;

    width: 149px;

    transform: translateX(-50%);
  }
}
