.promo {
  margin-bottom: 27px;

  background-color: #fafafa;
}

.promo__wrapper {
  position: relative;

  padding-top: 70px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top -19px;
  background-size: 574px 372px;

  @media @retina-dpi, @retina-dppx {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.promo__title {
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @brown;
}

.promo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  display: flex;
}

.promo__link {
  position: relative;

  display: block;
  flex-grow: 1;
  padding: 26px 80px 29px 9%;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  text-decoration: none;

  outline: none;

  transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear;

  &:active {
    color: fade(@white, 30%);
  }
}

.promo__item--interior .promo__link {
  background-color: @light-green;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }
}

.promo__item--toys .promo__link {
  background-color: @green;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }
}

.promo__link svg {
  position: absolute;

  transition: fill 0.1s linear;

  fill: fade(@dark-green, 50%);
}

.promo__link:hover svg,
.promo__link:focus svg {
  fill: fade(@dark-green, 70%);
}

.promo__link:active svg {
  fill: fade(@dark-green, 30%);
}

.promo__item--interior svg {
  top: 23px;
  right: 36px;
}

.promo__item--toys svg {
  top: 21px;
  right: 27px;
}

@media @tablet-widths {
  .promo {
    position: relative;

    margin-bottom: 34px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: 50;

      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: 770px 24px;
    }
  }

  .promo__wrapper {
    position: relative;

    padding-top: 153px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center top 0;
    background-size: 1150px 746px;

    .container();

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .promo__title {
    margin-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
  }

  .promo__list {
    display: flex;
    flex-wrap: wrap;
  }

  .promo__item {
    width: 50%;
  }

  .promo__link {
    box-sizing: border-box;
    padding: 28px 110px 42px 10.5%;

    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      transform: translateY(-5px);
    }
  }

  .promo__item--interior svg {
    top: 30px;
  }

  .promo__item--toys svg {
    top: 32px;
    right: 34px;
  }
}

@media @desktop-widths {
  .promo {
    margin-bottom: 46px;

    &::after {
      bottom: 0;

      height: 34px;

      background-size: 1150px 34px;
    }
  }

  .promo__wrapper {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1250px 746px;

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .promo__title {
    margin-bottom: 359px;

    font-size: 53px;
    line-height: 57px;
  }

  .promo__link {
    padding: 28px 110px 48px 37px;
  }
}
